.navbar-container {
  width: 100%;
}

.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  box-sizing: border-box;
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 1em;
}

#link {
  color: white;
  text-decoration: none;
  margin-right: 0;
}

.lowerDesign {
  border: 2px red solid;
  background-color: red;
}

#username {
  color: white;
  padding: 5px;
  margin: 0;
  width: auto;
  position: static;
}